include README.md
include requirements.txt

recursive-include cg/server/templates *
recursive-include cg/server/invoices/templates/invoices *
recursive-include cg/meta/report/templates *
recursive-include cg/apps/invoice/templates *
recursive-include cg/resources *

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
