[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
pytest-mock = "*"
snapshottest = "*"
docutils = "*"

[packages]
alchy = "*"
click = "*"
google-auth = "*"
requests = {extras = ["security"],version = "*"}
requests-cache = "*"
coloredlogs = "*"
petname = "*"
marshmallow = "*"
pyschemes = "*"
openpyxl = "*"
tabulate = "*"
lxml = "*"
python-dateutil = "*"
colorclass = "*"
genologics = "*"
trailblazer = "*"
housekeeper = "*"
cgstats = "*"
SQLAlchemy = "*"
Flask = "*"
Flask-Admin = "*"
Flask-Alchy = "*"
Flask-Cors = "*"
Flask-Dance = "*"
Flask-SQLAlchemy = "==2.1"
Werkzeug = "<1.0"
"ruamel.yaml" = "*"
cg = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
