[build-system]
# Minimum requirements for the build system to execute.
requires = ["setuptools", "wheel", "cython"]

[tool.black]
line-length = 100

[tool.ruff]
line-length = 100
target-version = "py37"
exclude = ["alembic"]
ignore = ["E501"]
