pytest>=3.6     # due to pytest-flask, pytest-cov
mock
ipdb
pytest-cov
coveralls
pytest-mock
git-lint
pylint
pycodestyle
yamllint
docutils
html-linter
tidy
six==1.12 # astroid 2.3.1 requires six=1.12
