# database
Alchy
alembic
pymysql
SQLAlchemy<1.4

# cli
Click<7.0

# server
blinker
Flask-Admin
Flask-Alchy
Flask-CORS
Flask-Dance
Flask-SQLAlchemy==2.1
Flask>=1.1.1                # versioned due to setup.py install misselecting Flask-SQLAlchemy otherwise
flask_wtf
google-auth
gunicorn
requests[security]
requests_cache
sendmail-container
werkzeug<1.0.0              # due to breaking changes in 1.0.0

# utils
ansi
cgmodels>=0.10.5
coloredlogs
email-validator
lxml
marshmallow>3               # due to code expects behaviour from >3
markupsafe<2.1            # due to soft_unicode import error from markupsafe
openpyxl==3.0.10
packaging
pandas
paramiko
petname
pydantic
python-dateutil
pyyaml
setuptools>=39.2.0      # due to WeasyPrint 45, tinycss2 1.0.1 and cairocffi file-.cairocffi-VERSION
tabulate
typing_extensions
wtforms<3.0.0          # wtforms.compat missing in 3.0.0

# apps
genologics
housekeeper>=2.5
