pytest>=3.6     # due to pytest-flask, pytest-cov
mock
ipdb
coverage<5
pytest-cov
coveralls
pytest-mock
git-lint
pylint
pycodestyle
yamllint
docutils
html-linter
tidy
six==1.12                   # due to astroid 2.3.2
python-coveralls>=2.9.3     # due to conflict on coverage package
black
pre-commit
