# database
Alchy
SQLAlchemy

# cli
Click>=6.7

# server
Flask
Flask-Admin
Flask-Alchy
Flask-SQLAlchemy==2.1
Flask-CORS
Flask-Dance
google-auth
werkzeug
requests[security]

# utils
ruamel.yaml
coloredlogs
petname
marshmallow
pyschemes
xlrd
openpyxl
tabulate
lxml
python-dateutil
cyvcf2<0.10.0
pymongo==3.7.1

# apps
genologics
loqusdb>=1.0.0
trailblazer>=3.1.1
housekeeper>=2.0.0b2
chanjo>=4.2.0
genotype>=2.2.0
scout-browser>=3.3.0
cgstats>=1.1.2
cgbeacon
