{% extends 'admin/master.html' %}
{% block body %}
{% for message in get_flashed_messages()%}
  <div class= "alert alert-warning alert-dismissable show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor%}
  {% if session.userinfo %}
    <p>Welcome {{ session.userinfo.name }}!</p>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <div>
      <a href="{{ url_for('invoices.index') }}">Invoices</a>
    </div>
  {% else %}
    <a href="{{ url_for('auth.login') }}">Login</a>
  {% endif %}
{% endblock %}
