{% extends 'invoices/layout.html' %}

{% block body %}
<div class="container mt-5 mb-5">
  <h1>Invoices</h1>
  <br><br>


  <ul class="nav nav-tabs">
      <li class="nav-item"><a href="" data-target="#Pending" data-toggle="tab" class="nav-link active">Pending</a></li>
      <li class="nav-item"><a href="" data-target="#Sent" data-toggle="tab" class="nav-link">Sent</a></li>
  </ul>
  <div id="tabsJustifiedContent" class="tab-content">
      <div id="Pending" class="tab-pane fade active show">
          {{ invoice_table(invoices['pending_invoices'] ,'No pending invoices.', 'pending') }}
      </div>
      <div id="Sent" class="tab-pane show">
          {{ invoice_table(invoices['sent_invoices'] ,'No delivered invoices.', 'sent') }}
      </div>
  </div>

</div>
{% endblock %}


{% macro invoice_table(invoices ,no_invoice, status) %}
<div class="card">
  {% if invoices.all() %}
  <br>
<table id={{status}} class="table" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Invoice ID</th>
      <th>Customer</th>
      <th>Created at</th>
      <th>Invoiced at</th>
      <th>Nr samples</th>
      {% if status=='sent' %}
      <th>Price</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for invoice in invoices %}
    <tr>
      <td>
      <a href="{{ url_for('invoices.invoice', invoice_id=invoice.id) }}">
        {{ invoice.id }}
      </a>
      </td>
      <td>{{ invoice.customer.internal_id}} - {{ invoice.customer.name }}</td>
      <td>{% if invoice.created_at!=None %}{{ invoice.created_at.strftime('%Y-%m-%d') }}{% endif %}</td>
      <td>{% if invoice.invoiced_at!=None %} {{ invoice.invoiced_at.strftime('%Y-%m-%d')  }} {% endif %}</td>
      <td>{% if invoice.microbial_samples %}{{ invoice.microbial_samples|count }}{% else %}{{ invoice.samples|count }}{% endif %}</td>
      {% if status=='sent' %}
      <td>{{ invoice.price }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% else %}
  <li class="list-group-item">{{no_invoice}}</li>
  {% endif %}
</div>
{% endmacro %}

{% block scripts %}
<script language="JavaScript">
$(document).ready(function() {
    var table = $('#pending').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf' ]
    } );
 
    table.buttons().container()
    
        .appendTo( "#pending_wrapper .col-md-6:eq(0)" );
} );

$(document).ready(function() {
    var table = $('#sent').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf']
    } );
 
    table.buttons().container()
    
        .appendTo( "#sent_wrapper .col-md-6:eq(0)" );
} );
</script>

<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha384-29cc914a50bd150a20fe526c4fe400f00508141827c0a33b6f19bbfd8697f8d4ebe03d349e961ac2b5f487ea172376b6"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" integrity="sha384-67d0f8e5ca777a5a9a8cefb11328d14c82b51abdde62c5e2c823c828da20d6c210ce9a367ea143a857400c68898f33af"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" integrity="sha384-95d41c74b7104ba59d227cfbfc7e44bd4b1cf83158e886466640331403a59fb44ab1e36e3ef5ce9bdb71156ea1afcac8"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js" integrity="sha384-2271a11c2e22430092238c1adcf56054f7d6a0b4e90608b0122bfe1660744f5053619f456c9c403069996d4550fc3708"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap4.min.js" integrity="sha384-1fbe489b48587fde69c9e9859df3d2037212573da517386e8d24f0630a21fe01b36279ba6ef45798e415bc7c51161676"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" integrity="sha384-bfd10525bb312d7c986abf13bc157cceee54481a1a382f99079ec6cc29908967e00c88d2fb000d64c3f9823c0c2f01af"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js" integrity="sha384-3dac5ebff6570bc2b9864acddb3194f3e3c93f160a02a8bc78a0b0bc8e710f5dc6c1c6e1324e10228efdd39db4825455"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js" integrity="sha384-0421a66eda3e18575476810c3afa592a2bbf97c53b6e9bca2f99c01668645e40cbdc53a7089d671b720fbfe4a342593e"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js" integrity="sha384-5ad15d698c54fbef0eab92e0b2ac93c503e90da91e3546000be02b3eb5879322219693f751958be9685629a8e52b3b72"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js" integrity="sha384-e8b468027d64be404c3cdb076ba63fe970f0897ff4714d451d58aa1b7928906f5e277cb4c4cd6b8d0351c69aec72e5fa"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js" integrity="sha384-97ab51fccfda82d24d8c4e95b7b31feadcf3d67112b590513c338b470e9611da4cbee27a6459c872fd2442994d196975"></script>

{% endblock %}

