// For Nextflow version 24.04.0 and above
params {
    config_profile_description = 'Platform test file'
    config_profile_contact = 'Clinical Genomics, Stockholm'
    config_profile_url = 'https://github.com/Clinical-Genomics'
}

// Slurm as executor and slurm options
executor {
    name = 'slurm'
    pollInterval = '2 min'
    queueStatInterval = '5 min'
    submitRateLimit = '2 sec'
}
