name: Build and publish image on new release event

on:
  release:
    types:
      - created

jobs:
  docker-image-release_push:
    # Push to Docker Hub when a new release is created
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: "clinicalgenomics/cg:${{github.event.release.tag_name}}, clinicalgenomics/cg:latest, clinicalgenomics/cg-stage:${{github.event.release.tag_name}}"
