name: deploy cg - hasta2 login

on:
  workflow_dispatch:
    inputs:
      ref_type:
        description: "branch or release"
        required: true
        default: "branch"
        type: choice
        options:
          - branch
          - release
      ref_name:
        description: "CG ref to deploy (branch or tag)"
        required: true
        default: "main"
        type: string

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger cg-hasta2.0 deploy workflow and wait
        uses: the-actions-org/workflow-dispatch@v4
        with:
          workflow: deploy-cg.yml
          repo: Clinical-Genomics/cg-hasta2.0
          ref: main
          token: ${{ secrets.CG_HASTA2_ACTIONS_TOKEN }}
          wait-for-completion: true
          wait-for-completion-timeout: 1h
          inputs: '{ "limit": "login", "ref_type": "${{ inputs.ref_type }}", "ref_name": "${{ inputs.ref_name }}", "check_mode": "false" }'
