name: CG CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests-coverage:
    runs-on: ubuntu-latest

    steps:
      # Check out Cg code
      - uses: actions/checkout@v3

      # Set up python
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Cache dependencies
        uses: actions/cache@v3
        id: cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('**/requirements*.txt') }}

      - name: CG Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install -r requirements-dev.txt

      - name: Test with pytest & Coveralls
        run: |
          pytest --cov=cg/
          coveralls
        env:
          GITHUB: 1
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

  finish:
    needs: tests-coverage
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true