name: CG CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests-coverage:
    runs-on: ubuntu-latest

    steps:
      # Check out Cg code
      - uses: actions/checkout@v3

      # Set up python
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: CG Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install -r requirements-dev.txt

      - name: Coveralls Dependencies
        run: |
          pip install pytest-cov coveralls

      - name: Cache installed packages
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Test with pytest & Coveralls
        run: |
          pytest --cov=cg/
          coveralls
        env:
          GITHUB: 1
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

  finish:
    needs: tests-coverage
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true